<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="description" content="DWA Projekt">
  <meta name="author" content="Neven Pešut">

  <title>Koliko trošim</title>

  <!-- Custom fonts for this theme -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->

  <style>
      #page-top{
          margin: 0;
          padding: 0;
      }
  </style>
</head>

<body id="page-top">

  <center>
      <form action="{{url_for('troskovi', id=id)}}" method='POST'>
            <table class="novi-trosak">
                    <tr>
                        <th>Naziv troska</th>
                        <td><input type="text" name="Naziv"></td>
                    </tr>
                    <tr>
                        <th>Iznos</th>
                        <td><input type="number" name="Iznos"></td>
                     </tr>
                     <tr>
                        <th>Opis</th>
                        <td><input type="text" name="Opis"></td>
                    </tr>
            </table>
            <button type="submit">Spremi trošak</button>
      </form>

      <form action="{{url_for('prihodi', id=id)}}" method='POST'>
            <table class="novi-prihod">
                    <tr>
                        <th>Naziv prihoda</th>
                        <td><input type="text" name="Naziv"></td>
                    </tr>
                    <tr>
                        <th>Iznos</th>
                        <td><input type="number" name="Iznos"></td>
                     </tr>
                     <tr>
                        <th>Opis</th>
                        <td><input type="text" name="Opis"></td>
                    </tr>
            </table>
            <button type="submit">Spremi prihod</button>
      </form>
  </center>
</body>

</html>
